/*Reset Config*/

*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "InterMedium";

}

/*cores*/

:root{

    --branco: #fff;
    --cinza: #C0C0C0;
    --azul: #1678F7;
    --preto: #00030C;

}

/*corpo do site*/
body{

    background-color: var(--preto);
    color: var(--branco);

}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------HEADER-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------MAIN-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*meio-cima do site*/

.meio-cima{

    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}


.container{

    background-size: contain;

}

.titulo{

    font-size: 28px;
    font-weight: 700;
    word-wrap: break-word

}

.container_botao{

    background-color: var(--azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-align: center;

}

.container_botao2{

    border: 1px solid var(--branco);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-align: center;

}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------FOOTER-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

